<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cowboy runner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>292684F51EBB5F6A00B8A3FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2926850F1EBB5F6A00B8A3FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2926851A1EBB5F6A00B8A3FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
